.wrapper {
  width: 70%;
  margin: 0px auto;
  margin-top: 30px;
  background-color: #d16f6f;
  height: 500px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.personal-info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal-info__f-name {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info__f-name form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-info__l-name {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info__l-name form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-info__patron {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info__patron form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-info__passport {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info__passport form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-info__phone {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info__phone form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-info__e-mail {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info__e-mail form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-info__birthday {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info__birthday form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personal-info__location {
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info__location form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-name__col1 {
  border: 1px solid #000;
  width: 300px;
  margin: 0px 0px 0px 20px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

.f-name__col2 {
  border: 1px solid #000;
}

.f-name__col2 input {
  width: 500px;
  height: 30px;
  font-size: 26px;
  letter-spacing: 3px;
}

.f-name__col3 {
  border: 1px solid #000;
  text-align: right;
}

.f-name__col3 img {
  width: 25px;
}
